
header{
	background:#DCDCDC; 
	color:#fff;
}

.c{
	border: 0px;
}
.color1{
	background:#34495e;
	color:#fff;
}
.color2{
	
	color:#FF8C00;
}

.color3{
	
	color:#DEB887;
}

.color5{
	
	color:#006400;
}

.color6{
	
	color:#000000;
}





article{
	background:#FFFFFF;
	color:#fff;
}



footer{
	background:#006400;
	color:#fff;
}
p { 
    font: 120% sans-serif;  
}































