*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	/*-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;*/
}
.social{
	position: fixed;
	left:0;
	top:240px;
	z-index:2000;
}
.social ul {
	list-style:none;
}
.social ul li a{
	display:inline-block;
	/*color:#fff;
	background:#000;*/
	padding:8px 10px;
	text-decoration:none;
	transition:all 500ms ease;
	/*-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;*/
}
.social ul li  #a1{background:#3b5999;}
.social ul li  #a2{background:#55acee;}
.social ul li  #a3{background:#cd201f;}
.social ul li  #a4{background:#E4405F;}

.social ul li .facebook{background:#3b5999;}
.social ul li .twitter{background:#55acee;}
.social ul li .youtube{background:#cd201f;}
.social ul li .instagram{background:#E4405F;}
.social ul li #a1:hover {
	padding: 4px 30px;
	background: #3b5999;
}
.social ul li #a2:hover {
	padding: 4px 30px;
	background: #55acee;
}
.social ul li #a3:hover {
	padding: 4px 30px;
	background: #cd201f;
}
.social ul li #a4:hover {
	padding: 4px 30px;
	background: #E4405F;
}
