.fcrud{
	

	background-color: #ffffff;

	border: 1px solid #bfd8eb;
	border-radius: 8px;
	margin: 100px auto;
	
	
	height:1000;
	width:900px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;

	}