
.ligthbox{
	
	

}

.btn-close{
	width: 70px;
	height: 70px;
	background: #AE4545;
	border: 3px solid #fff;
	border-radius: 100%;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 12px;
	/*position: absolute;*/
	top: 30px;
	right: 0px;
	cursor: pointer;
	margin-top: -1350px;
	margin-left: 200px;*/


}

